@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

#wrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
}

#footer {
    height: 80px; /* Define height of the footer */
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
    width: 100%; /* As wide as it's allowed */
}

#content {
    height: auto !important;
    min-height: 100%;
    padding-bottom: 80px; /* This should match the height of the footer */
}

#about-content {
    margin-top: 10px;
}
/* Gallery styles */

.gallery {
    text-align: center;

}
#gallery-content {
    padding-top: 20px;
    padding-bottom: 20px;
}


.gallery img {
    border-color: #707070;
    border: 0.625em solid rgba(152, 152, 152, 0.50);
    -webkit-box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 0.313em rgba(0, 0, 0, 0.41);
    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
}

.gallery a {
    padding-bottom: 12px;
    padding-right: 8px;
}

.gallery img:hover, .gallery img:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 );
    box-shadow: 0 0 0.938em rgba( 0, 0, 0, .25 );
}

.post-header {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-text {
    font-size: 18px;
}

.post-delim {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-header-lst {
    font-size: 24px;
    font-weight: bold;
    background-color: #ecf0f1;
}

.post-date-lst {
    text-align: right;
}

.post-date {
    font-size: .9em;
    float: right;
}

.post-text-lst {
    clear: both;
}

.category-item {
    margin: 10px;
    padding: 10px;
}


.post-tags {
    text-align: left;
}

.post-tag {
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
    display: block;
    float: left;
    clear: both;
    background-color: #ecf0f1;
}

.all-height {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative;
}

.box {
    border-style: solid;
    border-width: 2px;
    border-color: #ecf0f1;
    /*height: 160px;*/
    padding-bottom: 10px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
}

.post-text-lst {
	word-wrap: break-word;
    padding-left: 10px;
    padding-right: 5px;
}

.post-header-lst {
    display: block;
    /*text-shadow: 0px -1px #2c3e50;*/
}

.right-info-block {
    display: inline-block;
    height: 100%;
    float: right;
    margin-left: 40px;
}

.left-info-block {
    display: inline-block;
    margin-right: 40px;
    height: 100%;
    float: left;
}

.post-info {
    display: inline-block;
    height: 100%;
    width: 80%;
}

.info-line {
    margin-bottom: 5px;
}

.info-line-r {
    color: #000000;
    margin-bottom: 5px;
    text-align: right;
}

.myrow {
    display: block;
}

.post-admin-actions {
    width: 80%
}

.social-sharing {
    margin-top: 15px;
    margin-bottom: 15px;
}