"""
Config module. File generated automatically by Ansible {{ ansible_version.full }}
"""
SECRET_KEY = '{{ secret_key }}'
DEBUG = True  # on prod?
RELOADER = True  # on prod?
POSTS_PER_PAGE = 10

RUN_HOST = '{{ app_run_host }}'
RUN_PORT = {{ app_run_port }}

# Database
DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_USER = '{{ database_user }}'
DB_PASS = '{{ database_password }}'
DB_NAME = '{{ database_name }}'
