bind = '{{ app_run_host }}:{{ app_run_port }}'  # match to nginx settings file
workers = {{ gunicorn_workers_count }}
worker_class = 'sync'
accesslog = '/var/log/bmwlog.gunicorn.access.log'
errorlog = '/var/log/bmwlog.gunicorn.error.log'
