bind = '{{ app_run_host }}:{{ app_run_port }}'  # match to nginx settings file
workers = {{ gunicorn_workers_count }}
worker_class = 'sync'
# forward everything to stdout
accesslog = '-'
errorlog = '-'
capture_output = True
loglevel = 'info'
