*.pyc
Thumbs.db
.DS_Store
.vagrant/
.idea/
.cache/
build/
node_modules/
.pytest_cache/
.tox/
.python-version

# project-specific
venv/
prod/
files/
uploaded/
static/img/banners
static/img/users
static/img/article
static/img/gallery
app/config_local.py
*.dump

# Ansible
*.retry
