*.pyc
Thumbs.db
.DS_Store
.vagrant/
.idea/
.cache/
build/

# project-specific
venv/
prod/
files/
uploaded/
static/img/banners
static/img/users
static/img/article
static/img/gallery
app/config_local.py

# Ansible
*.retry
