@import "http://fonts.fontstorage.com/import/lobstertwo.css";
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "PT Sans Narrow", sans-serif;
}

.page {
    text-align: center;
}

a {
    color: #e2b607;
}

p {
    margin: 0;
    font-size: 1.5em;
    padding-top: 10px;
}

h2 {
    margin: 0;
    padding: 30px 0;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px #ecf0f1;
}
