@font-face {
    font-family: "Lobster";
    src: url("/static/webfonts/Lobster.ttf")
}

h2.admin-header {
    font-family: "Lobster", cursive;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.actions-list li a {
    cursor: pointer;
}

.actions-list {
    list-style: none;
}
