<!doctype html>
<html data-xrange="40" data-yrange="40">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <title>BmwLog :: Page not found</title>

  <script src="/static/js/jquery-1.9.1.js"></script>
  <script src="/static/js/plax.js"></script>

  <link rel="stylesheet" href="/static/css/404.css">
  <script>
    function goBack() {
      window.history.go(-1);
      return false;
    }
  </script>
</head>
<body>
  <nav class="nav-fillpath">
    <a class="prev" onclick="goBack();">
      <span class="icon-wrap"></span>
      <span class="text-back">back</span>
    </a>
  </nav>
  <div id="rectangle" data-xrange="10" data-yrange="10">
    <div id="text" data-xrange="30" data-yrange="80">404</div>
    <div id="little-text" data-xrange="100" data-yrange="40">Ooooops...<br>You are lost.</div>
  </div>
</body>
<script>
  $('#text').plaxify();
  $('#little-text').plaxify();
  $.plax.enable();
</script>
</html>
