<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <title>BmwLog :: It's an error</title>

  <link rel="stylesheet" href="/static/css/50x.css">
</head>
<body>
  <div class="page">
    <h2>Server Error</h2>
    <img src="/static/img/vietnam.png" />
    <p>
      Sorry, server cannot respond correctly!
    </p>
    <p>
      If you want to help you can ping me directly
      <a href="mailto:bmwant@gmail.com" target="_blank">here</a>
    </p>
  </div>
</body>
</html>
