<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <title>BmwLog :: Maintenance</title>

  <link rel="stylesheet" href="/static/css/50x.css">
</head>
<body>
  <div class="page">
    <h2>whattafuck!?</h2>
    <img src="/static/img/fox.jpg" />
    <p>
      Сталося непоправне, але
      <a href="http://twitter.com/bmwant" target="_blank">я</a>
      вже поправляю.
    </p>
    <p>
      Завітайте пізніше, <em>упоротая лиса</em> зберегла ваше фото і чекає.
    </p>
    <p>
      Поки можете почитати
      <a href="http://waitbutwhy.com" target="_blank">дійсно цікавий блог</a>
      або
      <a href="http://lemonparty.club" target="_blank">зайти сюди</a>.
    </p>
  </div>
</body>
</html>
