"""
Config module. File generated automatically by Ansible {{ ansible_version.full }}
"""
SECRET_KEY = '{{ secret_key }}'
DEBUG = True
RELOADER = True
POSTS_PER_PAGE = 10

STATIC_FOLDER = '{{ project_static }}'
ROOT_FOLDER = '{{ project_root }}

RUN_HOST = '{{ bottle_run_host }}'
RUN_PORT = {{ bottle_run_port }}

# Database
DB_HOST = '127.0.0.1'
DB_PORT = 3306
DB_USER = '{{ database_user }}'
DB_PASS = '{{ database_password }}'
DB_NAME = '{{ database_name }}'
