upstream bmwlog {
    server 127.0.0.1:{{ bottle_run_port }};
}

server {
    listen 80;
    server_name bmwlog.pp.ua *.bmwlog.pp.ua;
    charset utf-8;

    root {{ project_root }};
    
    location / {
        try_files $uri @proxy_to_app;
    }

    location /websocket {
        proxy_pass http://bmwlog;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /files {
        autoindex on;
    }
    
    location @proxy_to_app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_buffering off;
        proxy_pass http://bmwlog;
    }
}

