{% extends "base.html" %}

{% block title %}:: Контакти{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/cube-transition.css" />
    <link rel="stylesheet" href="/static/css/funnyText.css" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/modernizr.js"></script>
{% endblock%}

{% block content %}
<div id="content">
    <div id="about-content">
        <div class="row">

            <div class="column_8">
                <span id="name-text">Misha Behersky</span>
                <table class="margin-top">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-envelope-o fa-3x"></i></td>
                            <td><span class="right"><a href="mailto:bmwant@gmail.com">bmwant@gmail.com</a></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-skype fa-3x"></i></td>
                            <td><span class="right"><a href="skype:most.wanted.21">most.wanted.21</a></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-mobile fa-3x"></i></td>
                            <td><span class="right">0986558186</span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-google-plus-square fa-3x"></i></td>
                            <td><span class="right"><a href="https://www.google.com/+MishaBehersky" target="_blank">Google+</a></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-github-square fa-3x"></i></td>
                            <td><span class="right"><a href="https://github.com/bmwant" target="_blank">github</a></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-twitter-square fa-3x"></i></td>
                            <td><span class="right"><a href="https://twitter.com/bmwant" target="_blank">twitter</a></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-linkedin-square fa-3x"></i></td>
                            <td><span class="right"><a href="https://www.linkedin.com/in/bmwant" target="_blank">LinkedIn</a></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-stack-overflow fa-3x"></i></td>
                            <td>
                                <a href="http://stackoverflow.com/users/1744914/most-wanted" target="_blank">
                                    <img src="http://stackoverflow.com/users/flair/1744914.png"
                                         width="208" height="58" alt="profile for Most Wanted at Stack Overflow"
                                         title="My profile at StackOverflow">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column_4">
                <div id="te-wrapper" class="te-wrapper">
                        <div class="te-images">
                            <img src="img/oneme.jpg"/>
                            <img src="img/twome.jpg"/>

                        </div>
                        <div class="te-cover">
                            <img src="img/oneme.jpg"/>
                        </div>
                        <div class="te-transition">
                            <div class="te-cube-front te-cube-face te-front"></div>
                            <div class="te-cube-left te-cube-face te-back"></div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block bottom_scripts %}
    {{ super() }}
    <script src="/static/js/cube.transitions.js"></script>
    <script src="/static/js/funnyText.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#name-text').funnyText({
            speed: 700,
            borderColor: 'black',
            activeColor: 'white',
            color: 'black',
            fontSize: '5em',
            direction: 'both'
        });
    });
    </script>
{% endblock%}



