<!doctype html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <title>BmwLog {% block title %}{% endblock %}</title>


    <link rel="shortcut icon" href="/favicon.ico"/>


    {% block styles %}
        <link rel="stylesheet" href="/css/tuktuk.css">
        <link rel="stylesheet" href="/css/tuktuk.theme.css">
        <link rel="stylesheet" href="/css/tuktuk.icons.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/toastr.css">
        <link rel="stylesheet" href="/css/tag-basic-style.css" >
        <link rel="stylesheet" href="/css/font-awesome.min.css">
    {% endblock %}

    {% block scripts %}
        <script src="/js/functions.js"></script>
        <script src="/js/jquery-1.9.1.js"></script>
        <script src="/js/toastr.min.js"></script> <!--For message flashing-->
    {% endblock %}

</head>
<body>
<div id="wrapper">
    {% block header %}
    <div id="header" class="bck light padding">
        <div class="row">
            <div class="column_6">
                <a href="/"><img src="/img/logo.png" class="logo"/></a>
            </div>
            <div class="column_6  text right bold">
            {% set user = app.current_user %}
            {% if user %}
                Вітаю, <a href="/user/{{ user.user_id }}">{{ user.nickname }}</a>
                <a href="/logout" class="button small secondary">Вийти</a>
            {% else %}
                <a href="/signup">Реєстрація</a>
                <a href="/login" class="button small">Вхід</a>
            {% endif %}
            </div>
        </div>
    </div>
    <section class="bck color">
        <div class="row text center">
            <nav data-tuktuk="menu" class="column_12 padding text bold">
                <a href="/post" id="pstlink">
                    <span class="icon pencil"></span>Статті
                </a>
                <a href="/categories" id="catlink">
                    <span class="icon folder-open-alt"></span>Категорії
                </a>
                <a href="/gallery" id="gallink">
                    <span class="icon camera"></span>Галерея
                </a>
                <a href="/about" id="abtlink">
                    <span class="icon info-sign"></span>Інфо
                </a>
            </nav>
        </div>
    </section>
    {#
    <section class='bck light padding'>

    </section>
    #}
    {% endblock %}
    {% block content %}{% endblock %}

{% block footer %}
    <div id="footer" class="padding text right">
        <a href="#" data-tuktuk-modal="default_modal">Під капотом</a>
        <a href="https://github.com/bmwant21/bmwlog" target="_blank">Github</a>
        <a href="mailto:bmwant@gmail.com">Пошта</a>
    </div>
    <div id="default_modal" data-tuktuk="modal" class="column_5">
        <header>
            <h4 class="text thin">Інструментарій</h4>
        </header>
        <article>
            MySQL
            Python (Bottle)
            CSS (TukTuk)
            jQuery
            ImageLightBox http://osvaldas.info/image-lightbox-responsive-touch-friendly
            Collage Plus http://collageplus.edlea.com
        </article>
        <footer>
            <button data-modal="close" class="anchor"><span class="icon remove"></span>Закрити</button>
        </footer>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script src="/css/tuktuk.js"></script>
    <script>
        setActiveLink("{{ link_what }}");
        toastr.options = {
          "closeButton": false,
          "debug": false,
          "positionClass": "toast-bottom-left",
          "onclick": null,
          "showDuration": "0",
          "hideDuration": "0",
          "timeOut": "0",
          "extendedTimeOut": "0",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }

    </script>
{% endblock %}
    {# Flash messages #}
    {% set messages = app.get_flashed_messages() %}
    {% if messages %}
        <script>
            {% for m, cat in messages %}
                {% if cat == 'error' %}
                    toastr.error('{{ m }}');
                {% elif cat == 'success' %}
                    toastr.success('{{ m }}');
                {% else %}
                    toastr.info('{{ m }}');
                {% endif %}
            {% endfor %}
        </script>
    {% endif %}

</div>
</body>
</html>
