{% extends "base.html" %}

{% block title %}:: Автоматично згенеровано{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            {% if items.count() %}
                <div class="list-block">
                    {% for item in items %}
                        <div class="list-item bck light">
                            <span class="">{{ item }}</span>
                            <span class="controls">
                                <span class="edit-item"><a  href="#" onclick="return false;" class="bold color theme"><i data-item-id="{{ item.id }}" class="fa fa-pencil"></i></a></span>
                                <span class="delete-item"><a href="#" onclick="return false;" class="bold color theme"><i data-item-id="{{ item.id }}" class="fa fa-times"></i></a></span>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="no-list-results">Жодного елемента у списку</h2>
            {% endif %}
        </div>
        <div class="column_4">

            <h1 class="text book center color theme">Додати новий</h1>

            <form id="admin-form" action="" method="post">
                {% for field in form %}
                    {{ field.label }}
                    {{ field() }}
                {% endfor %}

                <fieldset class="margin-top text right">
                    <a id="add-button" class="button success small icon ok" href="#" onclick="return false;"> Додати</a>
                    <a id="update-button" class="button success small icon asterisk" href="#" onclick="return false;"> Оновити</a>
                    <a id="cancel-button" class="button secondary small icon reply" href="#" onclick="return false;"> Скасувати</a>
                </fieldset>

            </form>
            <div class="error-text">
                {% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
    {{ super() }}
    <script>
    $(document).ready(function() {
        var actionLink = window.location.href;
        var form = $("#admin-form");

        $(".edit-item").click(function (event) {
            var itemId = $(event.target).data("item-id");
            var editUrl = actionLink + "/edit/" + itemId;
            $.getJSON(editUrl, function (data) {
                $.each(data, function (key, value) {
                    var element = $("#" + key);
                    if (element.length) {
                        console.log(element);
                        element.val(value);
                    }
                });
                $("#cancel-button").css("display", "inline-block");
                $("#update-button").css("display", "inline-block");
                $("#add-button").css("display", "none");
                form.attr("action", editUrl);
            });
        });

        $("#cancel-button").click(function() {
            $(this).css("display", "none");
            $("#update-button").css("display", "none");
            $("#add-button").css("display", "inline-block");
            $("#admin-form").trigger("reset");
        });

        $(".delete-item").click(function(event) {
            var itemId = $(event.target).data("item-id");
            var url = actionLink + "/delete/" + itemId;
            console.log($(this));
            var listItem = $(this).closest(".list-item");
            $.getJSON(url, function(data) {
                if(data.status == "success") {
                    listItem.remove();
                }
            });
        });

        $("#add-button").click(function() {
            form.attr("action", "");
            form.submit();
            //form.trigger("reset");
        });

        $("#update-button").click(function() {
            form.submit();
        });

    });
    </script>

{% endblock %}