{% extends "base.html" %}

{% block title %}:: Список категорій{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <div class="category-lst">
                {% for category in categories %}
                <a href="category/{{ category.category_id }}" class="text bold color theme">
                    <div class="category-item bck light">{{ category.category_name }} <span class="posts-count">{{ category.posts_count }}</span></div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="column_4">
        </div>
    </div>
</div>
{% endblock %}