{% extends "base.html" %}

{% block title %}:: Список категорій{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <div class="category-lst">
                {% for category, data in categories.iteritems() %}
                <a href="category/{{ category }}" class="text bold color theme">
                    <div class="category-item bck light">{{ data['name'] }} <span class="posts-count">{{ data['posts_count'] }}</span></div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="column_4">
        </div>
    </div>
</div>
{% endblock %}