{% extends "base.html" %}

{% block title %}:: Instagram{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/gallery-transitions.css" />
    <link rel="stylesheet" href="/static/css/imagebox.css" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/imagelightbox.js"></script>
    <script src="/static/js/jquery.collagePlus.js"></script>
{% endblock%}

{% block content %}
<div id="content">
    <div id="gallery-content">
        <div class="row">
            <div class="gallery">
                {% for image in images %}
                    <a href="/static/img/gallery/{{ image.photo }}"><img class="gallerimg" height="200" src="/static/img/gallery/{{ image.photo }}" alt="{{ image.desc }}"/></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
    {{ super() }}
    <script>
    //only when all images loaded
    $(window).load(function () {
        $('.gallery').collagePlus({
            'effect' : 'effect-2',
            'allowPartialLastRow': true,
            'targetHeight'    : 200,
            'direction'       : 'vertical'
        });
    });
    </script>
    <script type="text/javascript" src="/static/js/imagebox.js"></script>
{% endblock %}
