{% extends "base.html" %}

{% block title %}:: Додати нове фото в галерею{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <form action="/gallery_add" method="post" enctype="multipart/form-data">

                <fieldset class="margin-top">
                    <label>Опис</label>
                    <input type="text" name="desc" /><br />
                </fieldset>

                <fieldset class="margin-top">
                    <label>Фото</label>
                    <input type="file" name="photo" /><br />
                </fieldset>

                <fieldset class="margin-top text right">
                    <button class="button success small icon ok" onclick="$(this).closest('form').submit();">
                        Додати
                    </button>
                </fieldset>

            </form>
        </div>
        <div class="column_4 text center thin italic color theme">
            Додати нове фото
        </div>
    </div>
</div>
{% endblock %}