{% extends "base.html" %}

{% block title %}:: ла{% endblock %}

{% block content %}
<div id="content">
    <div class="row">

        <script type="text/javascript">

            var ws = new WebSocket("ws://bmwlog.pp.ua/websocket");
                ws.onopen = function() {
                ws.send("Hello, web-sockets!");
            };
                ws.onmessage = function (evt) {
                alert(evt.data);
            };

        </script>

        <div class="column_8">
            <div class="mydiv"></div>
            text
        </div>

        <div class="column_4">

            <div class="padding margin">
                <ul class="streamer">
                    {% for lm in messages %}
                        <li class="stream-message"><span class="message-date">{{ lm.date.strftime('[%a %H:%M:%S]')  }}</span> {{ lm.message }}</li>
                    {% else %}
                        <li class="no-message">...немає повідомлень за останній тиждень</li>
                    {% endfor %}

                </ul>
                <form method="post" action="/sm/add">
                    <label>Message:</label>
                    <input type="text" name="message" />
                    <button>Submit</button>
                </form>
            </div>
            <button onclick="showDoge()">Show doge</button>
            <div class="padding margin">
                <div class="quote-text">
                    {{ quote.text }}
                </div>
                <div class="quote-author">
                    {{ quote.author }}
                </div>
            </div>

            <div class="row">
                <p><kbd>CTRL</kbd>+<kbd>a</kbd> , <kbd>d</kbd> to detatch from your screen session</p>
            </div>
            <div class="row" style="height: 500px">
                </div>
        </div>


    </div>
</div>
<div class="doge">
</div>
<script>

    var myDiv = $(".mydiv");

    var myLink = $("<a />", {
        href: "http://google.com",
        class: "my-class",
        text: "Link to Google"
    });
    $("<div />", {
        text: "This is my created div",
        class: "another-style"
    }).append(myLink).appendTo(myDiv);


    $(document).ready(function() {
        console.log(window.location.href);
        console.log(document.URL);
    });


</script>
{% endblock %}