{% extends "base.html" %}

{% block title %}:: ла{% endblock %}

{% block content %}
<div id="content">

        <div class="column_8">
            text
        </div>

        <div class="column_4">

            <div class="padding margin">
                <ul class="streamer">
                    {% for lm in messages %}
                        <li class="stream-message"><span class="message-date">{{ lm.date.strftime('[%a %H:%M:%S]')  }}</span> {{ lm.message }}</li>
                    {% else %}
                        <li class="no-message">...немає повідомлень за останній тиждень</li>
                    {% endfor %}

                </ul>
                <form method="post" action="/sm/add">
                    <label>Message:</label>
                    <input type="text" name="message" />
                    <button>Submit</button>
                </form>
            </div>

            <div class="padding margin">
                <div class="quote-text">
                    {{ quote.text }}
                </div>
                <div class="quote-author">
                    {{ quote.author }}
                </div>
            </div>

        </div>

</div>
{% endblock %}