{% extends "base.html" %}

{% block title %}:: Додати нову фразочку{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">

            <div class="list-block">
                    {% for item in quotes %}
                        <div class="list-item bck light">{{ item.text }}<span class="delete-item"><a href="/quote/delete/{{ item.quote_id }}" class="bold color theme"><i class="fa fa-times"></i></a></span></div>
                    {% endfor %}
                </div>
            </div>

        <div class="column_4 text">
            <h1 class="text book center color theme">Додати нову фразу</h1>
            <form action="/quote/add" method="post">

                <fieldset class="margin-top">
                    <label>Текст цитати</label>
                    <textarea name="text"></textarea>
                </fieldset>

                <fieldset class="margin-top">
                    <label>Звідки</label>
                    <input name="author" type="text"/>
                </fieldset>

                <fieldset class="margin-top text right">
                    <button class="button success small" onclick="$(this).closest('form').submit();">
                        <i class="fas fa-check"></i> Додати
                    </button>
                </fieldset>

            </form>
        </div>
    </div>
</div>
{% endblock %}
