{% extends "base.html" %}

{% block title %}:: Завантажити файл{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <form action="/upload" method="post" enctype="multipart/form-data">


                <fieldset class="margin-top">
                    <div class="select">
                        {{ form.file_folder.label }}
                        {{ form.file_folder() }}
                    </div>
                </fieldset>

                <fieldset class="margin-top">
                    {{ form.upload_file.label }}
                    {{ form.upload_file() }}
                </fieldset>

                <fieldset class="margin-top text right">
                    <button class="button success small" onclick="$(this).closest('form').submit();">
                        <i class="fas fa-check"></i> Завантажити
                    </button>
                </fieldset>

            </form>
            {% if uploaded_file %}
                <p>{{ uploaded_file }}</p>
            {% endif %}
        </div>
        <div class="column_4 text">
            <h1 class="text book center color theme">Завантажити файл</h1>
            <div class="error-text">
                {% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
