{% extends "base.html" %}
{% from "helpers/render_form.html" import render_form %}

{% block title %}:: Add new post{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/node_modules/simplemde/dist/simplemde.min.js"></script>
  <script src="/static/js/dropzone.js"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/flag-icon.min.css">
  <link rel="stylesheet" href="/node_modules/simplemde/dist/simplemde.min.css">
  <link rel="stylesheet" href="/static/css/jquery.onoff.css">
{% endblock %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="column_8">
      <form action="/post/add" method="post">

        <div class="form-field">
          <label>Title</label>
          <input autofocus type="text" name="title"/>
        </div>

        <div class="form-field">
          <label>Category</label>
          <div class="select">
            <select name="category-id">
              {% for item in categories %}
              <option value="{{ item.category_id }}">{{ item.category_name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-field">
          <div class="lang-icon" data-lang="eng">
            <span class="flag-icon flag-icon-gb"></span>
          </div>
          <div class="lang-icon" data-lang="ukr">
            <span class="flag-icon flag-icon-ua"></span>
          </div>
          <div class="lang-icon" data-lang="rus">
            <span class="flag-icon flag-icon-ru"></span>
          </div>
          <input type="hidden" name="language" value="ukr">
        </div>

        <label>Text</label>
        <textarea id="article-text" name="text"></textarea><br />

        <label>Show on index page</label>
        <div class="form-onoff">
          <input type="checkbox" name="show-on-index" checked>
        </div>

        <label>Tags</label>
        <div id="tagBox"></div>
        <input type="hidden" name="tags" />
        <input type="hidden" name="draft"/>

        <div class="margin-bottom margin-top">
          <a id="submitter" class="button success">
            <i class="fas fa-check"></i> Опублікувати
          </a>
          <a id="drafter" class="button secondary small">
            <i class="far fa-edit"></i> В чорновики
          </a>
        </div>
      </form>
    </div>

    <div class="column_4">
      <form action="/up" class="dropzone" id="image-dropzone"></form>
    </div>
  </div>
</div>
{% endblock %}
{% block bottom_scripts %}
  {{ super() }}
  <script src="/static/js/tagging.min.js"></script>
  <script src="/static/js/post.scripts.js"></script>
  <script src="/static/js/jquery.onoff.js"></script>
  <script>
    $(document).ready(function() {
      $('input[type=checkbox]').onoff();
    });
  </script>
{% endblock %}

{#
<div class="dz-preview dz-file-preview">
  <div class="dz-details">
    <div class="dz-filename"><span data-dz-name></span></div>
    <div class="dz-size" data-dz-size></div>
    <img data-dz-thumbnail />
  </div>
  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
  <div class="dz-success-mark"><span>✔</span></div>
  <div class="dz-error-mark"><span>✘</span></div>
  <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>
#}
