{% extends "base.html" %}
{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <form action="/post/edit/{{ item.post_id }}" method="post">
            <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
                //<![CDATA[
                bkLib.onDomLoaded(function() {
                    new nicEditor({fullPanel: true}).panelInstance('text1');
                });
                //]]>
            </script>


            <label>Заголовок</label>
            <input type="text" name="title" value="{{ item.title }}" /> <br />
            <!--
            <label for="datepick">Дата розміщення</label>
            
            <input type="text" id="datepicker" class="hastDatapicker" /><br />
            -->
            <label>Виберіть категорію</label>
            <div class="select">
                <select name="category_id">
                    {% for cat in categories %}
                        {% if item.category.category_id == cat.category_id %}
                            <option value="{{ cat.category_id }}" selected="true">{{ cat.category_name}}</option>
                        {% else %}
                            <option value="{{ cat.category_id }}">{{ cat.category_name}}</option>
                        {% endif%}
                    {% endfor %}
                </select>
            </div><br />

            <label>Текст</label>
            <textarea id="text1" name="text" style="min-height: 400px">{{ item.post_text}}</textarea><br />

            <label>Теги</label>
            <div id="tagBox">{% for tag in tags %}{{ tag.text }};{% endfor %}</div>
            <input type="hidden" name="tags" />

            <div class="margin-bottom margin-top">
                <a class="button success small icon ok" id="submitter">
                    Оновити
                </a>
            </div>

            </form>
        </div>
        <div class="column_4 text center thin italic color theme">
            Змінити статтю
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ super() }}
    <script src="/js/tagging.min.js"></script>
    <script>
        var tag_options = {
            "no-duplicate": true,
            "no-duplicate-callback": undefined,
            "no-duplicate-text": "Duplicate tags",
            "type-zone-class": "type-zone",
            "tag-box-class": "tagging",
            "forbidden-chars": [",", ".", "_", "?", "!", ":", " "],
            "edit-on-delete": false,
            "no-comma": true,
            "no-enter": true,
            "no-spacebar": false,
            "pre-tags-separator": ";",
            "tag-class": "tag_input",
            "tags-input-name": "tag_input"
        };
        $("#tagBox").tagging(tag_options);
        $("#submitter").click(function(){
            if(nicEditors.findEditor('text1').getContent()!='<br>') {
                nicEditors.findEditor('text1').saveContent();
            }
            $("input[name=tags]").val(
                $("#tagBox").tagging('getTags').join(";")
            );
            $(this).closest('form').submit();
        });
    </script>
{% endblock %}
