{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script src="/js/ckeditor/config.js"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <form action="/post/edit/{{ item.post_id }}" method="post">


            <label>Заголовок</label>
            <input type="text" name="title" value="{{ item.title }}" /> <br />
            <!--
            <label for="datepick">Дата розміщення</label>
            
            <input type="text" id="datepicker" class="hastDatapicker" /><br />
            -->
            <label>Виберіть категорію</label>
            <div class="select">
                <select name="category_id">
                    {% for cat in categories %}
                        {% if item.category.category_id == cat.category_id %}
                            <option value="{{ cat.category_id }}" selected="true">{{ cat.category_name}}</option>
                        {% else %}
                            <option value="{{ cat.category_id }}">{{ cat.category_name}}</option>
                        {% endif%}
                    {% endfor %}
                </select>
            </div><br />

            <label>Текст</label>
            <textarea id="article-text" name="text" rows="30" cols="80">{{ item.post_text}}</textarea><br />

            <label>Теги</label>
            <div id="tagBox">{% for tag in tags %}{{ tag.text }};{% endfor %}</div>
            <input type="hidden" name="tags" />
            <input type="hidden" name="draft">

            <div class="margin-bottom margin-top">
                <a id="submitter" class="button success icon ok">
                    Опублікувати
                </a>
                <a id="drafter" class="button secondary small icon edit">
                    Зберегти в чорновики
                </a>
            </div>

            </form>
        </div>
        <div class="column_4 text center thin italic color theme">
            Змінити статтю
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
    {{ super() }}
    <script src="/js/tagging.min.js"></script>

    <script>
        function toDrafts() {
            $("input[name=draft]").val(1);
        }
        function publish() {
            $("input[name=draft]").val(0);
        }
        function applyTags() {
            $("input[name=tags]").val(
                $("#tagBox").tagging('getTags').join(";")
            );
        }
    </script>

    <script>
        var tag_options = {
            "no-duplicate": true,
            "no-duplicate-callback": undefined,
            "no-duplicate-text": "Duplicate tags",
            "type-zone-class": "type-zone",
            "tag-box-class": "tagging",
            "forbidden-chars": [",", ".", "_", "?", "!", ":", " "],
            "edit-on-delete": false,
            "no-comma": true,
            "no-enter": true,
            "no-spacebar": false,
            "pre-tags-separator": ";",
            "tag-class": "tag_input",
            "tags-input-name": "tag_input"
        };
        $("#tagBox").tagging(tag_options);
        $("#submitter").click(function(){
            applyTags();
            publish();
            $(this).closest('form').submit();
        });
        $("#drafter").click(function(){
            applyTags();
            toDrafts();
            $(this).closest('form').submit();
        });
    </script>
    <script>
        CKEDITOR.replace('article-text');
        CKEDITOR.editorConfig = function(config) {};
    </script>

{% endblock %}
