{% extends "base.html" %}

{% block title %}:: {{ item.title }}{% endblock %}

{% block meta_tags %}
  <meta name="keywords" content="{% for tag in item.tags %}{{ tag.text }}, {% endfor %}">
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/obsidian.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/node_modules/showdown/dist/showdown.min.js"></script>
  <script src="/static/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<div id="content" itemscope itemtype="http://schema.org/BlogPosting" data-post-id="{{ item.post_id }}">
  <div class="row">
    <div class="column_8" >
      <meta itemprop="datePublished" content="{{ item.date_posted.isoformat() }}" />
      <img itemprop="image" src="/img/logo.png" alt="BmwLog" style="display: none" />

      <div class="post-header">
        <a class="text bold color theme" itemprop="headline">{{ item.title }}</a>
      </div>
      <div id="main" class="post-text text justify" itemprop="articleBody">
        {{ item.post_text }}
      </div>

      <div class="social-sharing">
        <a href="http://vkontakte.ru/share.php?url=" target="_blank"><i class="fab fa-vk fa-2x"></i></a>
        <a href="https://twitter.com/share?url=" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="https://plus.google.com/share?url=" target="_blank"><i class="fab fa-google-plus-square fa-2x"></i></a>
        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u="><i class="fab fa-facebook-square fa-2x"></i></a>
      </div>
      <div class="post-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'bmwlog';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript.</noscript>
      </div>
    </div>

    <div class="column_4">
            {% set user = app.current_user %}
            {% if user %}
               {% if user.role.role == 'admin' %}
                <div class="post-admin-actions bck light padding margin">

                  <div class="myrow"><a href="/post/edit/{{ item.post_id }}">Редагувати статтю</a></div>
                  <div class="myrow"><a href="/post/delete/{{ item.post_id }}" onclick="return confirm('Видалити статтю?')">Видалити статтю</a></div>
                  <div class="myrow"><a href="/post/renew/{{ item.post_id }}">Актуалізувати</a></div>

                </div>
               {% endif %}
            {% endif %}


            <div class="post-info bck light padding margin">
                <div class="info-block">

                  <div class="info-line">Автор <span class="info-line-r" itemprop="author"><a  href="/user/{{ item.user.user_id }}">{{ item.user.nickname }}</a></span></div>
                  <div class="info-line">Дата <span class="info-line-r"><time>{{ item.date_posted.strftime('%d/%m/%Y') }}</time></span></div>
                  <div class="info-line">Категорія <span class="info-line-r" itemprop="articleSection"><a  href="/category/{{ item.category.category_id }}">{{ item.category.category_name }}</a></span></div>
                  <div class="info-line">Переглядів <span class="info-line-r">{{ item.views }}</span></div>
                  <div class="info-line">Актуальність<span class="info-line-r">{{ item.actuality|int }}%</span></div>

                </div>
                <a href="#" onclick="return false" id="like-link">
                    <div id="like-button" class="like-button">
                        <i class="fa fa-heart" id="like-icon"></i> <span id="like-text">лайк</span> <span id="likes-count">{{ item.likes }}</span>
                    </div>
                </a>
            </div>

            <div class="post-tags padding">
                {% for tag in item.tags %}
                    <a class="post-tag" href="/tag/{{ tag.tag_id }}">
                        {{ tag.text }}
                    </a>
                {% endfor %}
            </div>
        </div>

  </div>
</div>
{% endblock %}

{% block bottom_scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      // Render markdown to html
      var postElem = $('#main');
      var converter = new showdown.Converter();
      var text = postElem.text().trim();
      if(postElem.html().trim().startsWith('<')) {
        console.warn('Assuming html for old articles, skip converting to markdown');
      } else {
        var html = converter.makeHtml(text.trim());
        postElem.html(html);
      }
      var url = document.URL;
      $('.social-sharing').children('a').each(function() {
        var new_href = $(this).attr('href') + url;
        $(this).attr('href', new_href);
      });
    });

    /*Like button*/
    function checkThisPostForLike(post_id) {
      var posts_string = $.cookie('posts_liked');
      if(posts_string === undefined) {
        return false;
      } else {
        var arr = posts_string.split(",");
        return arr.indexOf(post_id.toString()) !== -1;
      }
    }

    $(document).ready(function() {
      var post_id = $('#content').data('post-id');
      if(checkThisPostForLike(post_id)) {
        $("#like-button")
          .removeClass('like-button')
          .addClass('like-button-disabled')
          .off('click');
        $("#like-text").hide();
        $("#likes-count").show();
        $("#like-icon").addClass('love');
      }
      else {
        $("#like-button").click(function() {
          $(".doge").slideToggle("fast");
          setTimeout(function() {$(".doge").slideToggle("fast");}, 1100);

          $.ajax({
           url: "/like/{{ item.post_id }}"
          }).done(function() {
            $.cookie.raw = true;
            $("#like-text").hide();
            var likesCounterElem = $('#likes-count');
            var counter = parseInt(likesCounterElem.text());
            likesCounterElem.text(counter+1).show();
            $("#like-icon").addClass('love');
            $("#like-button")
              .removeClass('like-button')
              .addClass('like-button-disabled')
              .off('click');

            var postsString = $.cookie('posts_liked');

            if(postsString === undefined) {
              $.cookie("posts_liked", post_id, { expires : 12*30 });
            } else {
              var new_posts = postsString + "," + post_id;
              $.cookie("posts_liked", new_posts, { expires : 12*30 });
            }
          });
        });
      }
    });
  </script>
{% endblock %}
