{% extends "base.html" %}

{% block title %}:: {{ item.title }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/obsidian.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/js/highlight.pack.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="row">

        <div class="column_8">
            <div class="post-header">
                <a class="text bold color theme">{{ item.title }}</a>
            </div>
            <div id="main" class="post-text text justify">
                {{ item.post_text }}
            </div>

            <div class="social-sharing">
{#                <a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,#}
{#  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Поділитись на Google+" />#}
{#                </a>#}

                <a href="http://vkontakte.ru/share.php?url=" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                <a href="https://twitter.com/share?url=" target="_blank"><i class="fa fa-twitter fa-2x"></i></A>
                <a href="https://plus.google.com/share?url=" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook fa-2x"></i></a>

            </div>
            <div class="post-comments">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'bmwlog'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function () {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript.</noscript>
            </div>
        </div>

        <div class="column_4">
            {% set user = app.current_user %}
            {% if user %}
               {% if user.role.role == 'admin' %}
                <div class="post-admin-actions bck light padding margin">

                        <div class="myrow"><a href="/post/edit/{{ item.post_id }}">Редагувати статтю</a></div>
                        <div class="myrow"><a href="/post/delete/{{ item.post_id }}">Видалити статтю</a></div>
                        <div class="myrow"><a href="/post/renew/{{ item.post_id }}">Актуалізувати</a></div>

                </div>
               {% endif %}
            {% endif %}


            <div class="post-info bck light padding margin">
                <div class="info-block">

                        <div class="info-line">Автор <span class="info-line-r"><a href="/user/{{ item.user.user_id }}">{{ item.user.nickname }}</a></span></div>
                        <div class="info-line">Дата <span class="info-line-r"><time>{{ item.date_posted.strftime('%d/%m/%Y') }}</time></span></div>
                        <div class="info-line">Категорія <span class="info-line-r"><a href="/category/{{ item.category.category_id }}">{{ item.category.category_name }}</a></span></div>
                        <div class="info-line">Переглядів <span class="info-line-r">{{ item.views }}</span></div>
                        <div class="info-line">Актуальність<span class="info-line-r">{{ actuality|int }}%</span></div>

                </div>
                <a href="#" onclick="return false" id="like-link">
                    <div id="like-button" class="like-button">
                        <i class="fa fa-heart" id="like-icon"></i> <span id="like-text">лайк</span> <span id="likes-count">{{ item.likes }}</span>
                    </div>
                </a>
            </div>


            <div class="post-tags padding">
                {% for tag in tags %}
                    <a class="post-tag" href="/tag/{{ tag.tag_id }}">
                        {{ tag.text }}
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var url = document.URL;
            $('.social-sharing').children('a').each(function() {
               var new_href = $(this).attr('href') + url;
                $(this).attr('href', new_href);
            });
        });

    </script>
    <script>
        /*Like button*/
        function checkThisPostForLike(post_id) {
            var posts_string = $.cookie('posts_liked');
            if(posts_string === undefined) {
                return false;
            } else {
                var arr = posts_string.split(",");
                if(arr.indexOf(post_id.toString()) != -1) {
                    return true;
                }
                return false;
            }
        }

        $(document).ready(function() {
            var post_id = {{ item.post_id }};
            if(checkThisPostForLike(post_id)) {
                $("#like-button").removeClass('like-button')
                        .addClass('like-button-disabled')
                        .off('click');
                $("#like-text").hide();
                $("#likes-count").show();
                $("#like-icon").addClass('love');

            }
            else {
                $("#like-button").click(function() {
                $.ajax({
                    url: "/like/{{ item.post_id }}"
                }).done(function() {
                    $.cookie.raw = true;
                    $("#like-text").hide();
                    var counter = parseInt($("#likes-count").text());
                    $("#likes-count").text(counter+1).show();
                    $("#like-icon").addClass('love');
                    $("#like-button").removeClass('like-button').addClass('like-button-disabled').off('click');

                    var posts_string = $.cookie('posts_liked');

                    if(posts_string === undefined) {
                        $.cookie("posts_liked", post_id, { expires : 12*30 });
                    }
                    else {
                        var new_posts = posts_string + "," + post_id;
                        $.cookie("posts_liked", new_posts, { expires : 12*30 });
                    }
                });
            });
            }

        });
    </script>
{% endblock %}
