{% extends "base.html" %}

{% block title %}:: Мій профіль{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <h2>Профіль користувача <strong>{{ user.nickname }}</strong></h2>

            <div class="myrow">
                <img class="avatar-img" src="/img/users/{{ user.picture }}" />
            </div>

            <div class="myrow">
                <label>Ім'я</label> {{ user.first_name }}
            </div>

            <div class="myrow">
                <label>Прізвище</label> {{ user.last_name }}
            </div>

            <strong>Мої чорновики</strong>
            <div class="post-little-lst">
                {% for post in posts %}
                <a href="/post/{{ post.post_id }}" class="text bold color theme">
                    <div class="little-lst-item bck light">{{ post.title }}</div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="column_4">
            <h1 class="text book center color theme">Профіль</h1>
            <button class="button success "data-tuktuk-modal="edit-modal">Редагувати дані</button>
        </div>
    </div>
</div>

<div id="edit-modal" data-tuktuk="modal" class="column_5">
        <header>
            <h4>Редагувати профіль</h4>
        </header>
        <article class="">
            <form id="acc-form" action="/account/update" method="post" enctype="multipart/form-data">

                {% for field in form %}
                <fieldset class="margin-top">
                    {{ field.label }}
                    {{ field() }}
                </fieldset>
                {% endfor %}



            </form>
        </article>
        <footer class="text right">
            <button class="button success icon ok" onclick="$('#acc-form').submit();"></button>
            <button data-modal="close" class="button small secondary">Закрити</button>
        </footer>
    </div>
{% endblock %}