{% extends "base.html" %}

{% block title %}:: Список користувачів{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <div class="list-block">
                {% for item in users %}
                    <div class="list-item bck light"><a href="/user/{{ item.user_id }}">{{ item }}</a><span class="delete-item"><a href="#{{ item.user_id }}" class="bold color theme"><i class="fa fa-pencil"></i></a></span></div>
                {% endfor %}
            </div>
        </div>
        <div class="column_4">

        </div>
    </div>
</div>
{% endblock %}