{% extends "base.html" %}
{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <form method="post" action="/signup">
                <label for="email">E-mail</label>
                <input type="text" name="email" /><br />

                <label for="password">Password</label>
                <input type="password" name="password" /><br />

                <label for="fname">First name</label>
                <input type="text" name="fname" /><br />

                <label for="lname">Last name</label>
                <input type="text" name="lname" /><br />

                <label for="nickname">Nickname</label>
                <input type="text" name="nickname" /><br />

                <div class="margin-bottom margin-top">
                    <a class="button success small icon ok" onclick="$(this).closest('form').submit();">Register me</a>
                </div>
            </form>
        </div>


        <div class="column_4 margin-bottom padding">
            <h1 class="text book center color theme">Register account</h1>
            <div class="error text color dark">
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
