{% extends "base.html" %}

{% block title %}:: Профіль користувача{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <h2>Профіль користувача <strong>{{ user.nickname }}</strong></h2>

            <div class="myrow">
                {{ user.picture }}
            </div>

            <div class="myrow">
                <label>Ім'я</label> {{ user.first_name }}
            </div>
            <div class="myrow">
                <label>Прізвище</label> {{ user.last_name }}
            </div>

        </div>
        <div class="column_4">
            <h1 class="text book center color theme">Профіль</h1>
        </div>
    </div>
</div>
{% endblock %}