{% extends "base.html" %}

{% block title %}:: Профіль користувача{% endblock %}

{% block content %}
<div id="content">
    <div class="row">
        <div class="column_8">
            <h2>Профіль користувача <strong>{{ user.nickname }}</strong></h2>

            <div class="myrow">
                <img class="avatar-img" src="/img/users/{{ user.picture }}" />
            </div>

            <div class="myrow">
                {{ user.first_name }} {{ user.last_name }}
            </div>

            <div class="post-little-lst">
                {% for post in posts %}
                <a href="/post/{{ post.post_id }}" class="text bold color theme">
                    <div class="little-lst-item bck light">{{ post.title }}</div>
                </a>
                {% endfor %}
            </div>

        </div>
        <div class="column_4">
            <h1 class="text book center color theme">Профіль</h1>
        </div>
    </div>
</div>
{% endblock %}